{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container my-3">
  <h1>
    {{ what }}
  </h1>
  <div id="main">
    <img src="{% static 'img/main.jpg' %}" width="50%" text-align="center">
    <style>
      #main {
        text-align: center;
      }
    </style>
  </div>
  <table class="table">
    <tr>
      <td>
        <a href="/train/" >go train</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/predict/">go predict</a>
      </td>
    </tr>
  </table>
</div>
{% endblock %}