{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container my-3">
  <h1>
    {{ content }}
  </h1>
  <table class="table" width=1200>
    <tr>
        <td width=300>
            <p>P(cat): {{ prob_cat }}</p>
            <p>P(dog): {{ prob_dog }}</p>
        </td>
        <td width=450>
          <img src="{% static 'img/test/test.jpg' %}" height='300px'>
        </td>
        <td width=450>
          <img src="{% static 'img/test/lime.jpg' %}" height='300px'>
        </td>
    </tr>
    <tr>
      <td colspan="3">
        <form action="/predict/predict/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="test">
          <input type="submit" value="Predict">
        </form>
      </td>
    </tr>
  </table>
</div>
{% endblock %}